@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: theme("colors.primary.normal");
}

#AuthPage button {
  padding: 1rem 6rem;
  border: 1px solid darkslategrey;
  background-color: theme("colors.primary.dark");
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  text-transform: uppercase;
}

#AuthPage button:hover {
  scale: 110%;
}

.cl-avatarBox {
  width: 3rem;
  height: 3rem;
  border: 3px solid theme("colors.primary.dark");
}

#MobNav {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
  z-index: 100;
}

#MobNav button {
  padding: 1rem;
  width: 100%;
  height: 100%;
  text-align: start;
}

.box_shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cl-headerTitle {
  font-size: 2.3rem;
  text-transform: capitalize;
  color: theme("colors.primary.normal");
}

.cl-profileSectionTitleText,
.cl-navbarButton {
  font-size: 1.1rem;
  font-weight: 600;
}

.cl-navbarButton,
.cl-navbar a,
.cl-navbar p {
  color: whitesmoke;
}

.cl-menuButton,
.cl-formButtonReset,
.cl-profileSectionPrimaryButton {
  background-color: theme("colors.primary.dark");
  color: whitesmoke;
}

.cl-button:hover,
#Pagination button:hover {
  scale: 105%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.cl-actionCard,
.cl-menuItem {
  background-color: theme("colors.secondary.normal");
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cl-menuList {
  background-color: transparent;
  margin-top: -10px;
}

.cl-formButtonPrimary,
#Transaction_Form label,
#Transaction_Form .btn {
  color: theme("colors.primary.normal");
}
.cl-menuItem.cl-button {
  margin-bottom: 0.6rem;
  margin-top: 0.1rem;
}

.cl-formButtonPrimary:hover,
.cl-menuItem:hover {
  background-color: theme("colors.secondary.dark");
  scale: 100%;
}

.cl-menuButton:hover,
.cl-formButtonReset:hover,
.cl-navbarMobileMenuButton:hover,
.cl-profileSectionPrimaryButton:hover {
  background-color: theme("colors.primary.dark");
  color: theme("colors.secondary.dark");
}

.cl-profileSection {
  border-top: 1px solid theme("colors.primary.dark");
}

.cl-navbar {
  background: theme("colors.primary.normal");
  box-shadow: rgba(0, 0, 0, 0.35) 8px 10px 15px;
  padding: 2.5rem 0.8rem;
}

.cl-navbar h1,
.cl-navbar::before {
  color: theme("colors.secondary.normal");
  font-size: 2.3rem;
}

.cl-navbar::before {
  content: "Account";
  font-weight: 600;
  margin-bottom: 1rem;
  display: none;
}

@media screen and (max-width: 768px) {
  .cl-navbar::before {
    display: block;
  }
}

.cl-navbarButton {
  padding: 1rem 0.4rem;
}

.cl-navbarButton svg {
  width: 35px;
  height: 35px;
  color: theme("colors.secondary.normal");
}

.cl-formFieldInput {
  border-width: 1px !important;
  border-color: theme("colors.secondary.dark");
  border-style: solid;
}

.cl-navbarMobileMenuButton {
  font-size: 1.8rem;
}
.cl-navbarMobileMenuButton svg {
  width: 40px;
  height: 40px;
}

textarea {
  resize: none;
}

#Transaction_Form input,
#Transaction_Form textarea,
#Transaction_Form select {
  color: theme("colors.primary.dark");
  border: 1px solid theme("colors.primary.dark");
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 100%;
}

table {
  margin-top: 0.7rem;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  color: theme("colors.primary.normal");
  overflow: hidden;
}

table tr {
  border: 1px solid theme("colors.primary.dark");
  padding: 0.35em;
}

table tbody tr:hover {
  cursor: pointer;
  background-color: rgb(206, 206, 206);
}

table th,
table td {
  padding: 0.625em 1rem;
  text-align: center;
  border-right: 1px solid theme("colors.primary.dark");
  border-left: 1px solid theme("colors.primary.dark");
}

table th {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

table th select {
  font-size: 1rem;
  text-align: center;
  border-bottom: 1px solid theme("colors.secondary.dark");
}

table th select:focus-visible {
  outline: none;
}

@media screen and (max-width: 600px) {
  .table thead {
    border: none;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table tr {
    display: block;
  }

  .table td {
    display: block;
    font-size: 0.9em;
    text-align: right;
  }

  .table td::before {
    content: attr(data-label);
    float: left;
    font-weight: 700;
    text-transform: uppercase;
  }

  .table td:last-child {
    border-bottom: 0;
  }
}

.modal-open {
  border-radius: 50%;
  background-color: theme("colors.primary.dark");
  position: fixed;
  right: 1.5rem;
  bottom: 1rem;
  border: 3px solid theme("colors.primary.dark");
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.modal-open:hover {
  border-top-color: theme("colors.green");
  border-right-color: theme("colors.green");
  border-bottom-color: theme("colors.red");
  border-left-color: theme("colors.red");
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  justify-content: center;
  display: flex;
  place-items: center;
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  position: fixed;
}

#Pagination button {
  padding: 0.7rem 1.5rem;
  font-weight: 600;
  color: theme("colors.primary.dark");
  background-color: theme("colors.secondary.dark");
  border-radius: 1rem;
}

.loading-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
